html,body{
    width: 100%;
    height: 100%;
}
/*.logo_img{*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*position: absolute;*/
    /*left: 10px;*/
    /*top: 10px;*/
/*}*/
.login_content {
    width: 330px;
    height: 344px;
    /*box-shadow: 0 1px 5px 0 rgba(81, 81, 81, 1);*/
    background-color: #fff;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -165px;
    margin-top: -172px;
}
.register_content{
    height:374px;
    margin-top: -187px;
}
.login_content form{
    display: block;
}
.login_box{
    width: 235px;
    height: 340px;
    margin: 0 auto;
    padding-top: 20px;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
}
.register_all{
    height: 370px;
    padding-top: 15px;
}
.login_right{
    padding-top: 30px;
    box-sizing: border-box;
}
.register_box{
    padding-top: 10px;
}
.login_box h1{
    width: 100%;
    height: 26px;
    line-height: 26px;
    color: rgba(250, 99, 135, 1);
    font-size: 18px;
    font-family: Roboto;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}
.register_box h1{
    margin-bottom: 15px;
}
.login_box .input_row{
    width: 235px;
    height: 30px;
    padding-left: 22px;
    margin-bottom: 20px;
    line-height: 30px;
    position: relative;
    border-bottom: 1px solid rgba(187, 187, 187, 1);
    box-sizing: border-box;
}
.login_box .input_row .log_icon{
    width: 16px;
    height: 16px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 7px;
    background: url("../images/lo_re_icon.png") 0 -32px no-repeat ;
}
.login_box .psd_row .log_icon{
    background-position: 0 -16px;
}
.login_box .code_row .log_icon{
    background-position: 0 0;
}
.login_box .input_row input{
    background-color: transparent;
    width: 170px;
    height: 30px;
    color: rgba(136, 136, 136, 1);
    font-size: 12px;
    text-align: left;
    font-family: Microsoft Yahei;
    border: none;
}
.login_box .code_row input{
    width: 99px;
}
.login_box .code_row .get_code{
    width: 80px;
    height: 26px;
    line-height: 20px;
    background-color: rgba(250, 99, 135, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    text-align: center;
    font-family: Roboto;
    border: 1px solid rgba(255, 255, 255, 0);
    position: absolute;
    right: 0;
    top: 2px;
}
.login_box .code_row .get_code:hover{
    background-color: rgb(250, 11, 113);
}
.login_box .input_row input::-webkit-input-placeholder{
    color: rgba(136, 136, 136, 1);
}
.login_box .input_row label.error,.login_btn_box label.error{
    min-height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #ff5858;
    position: absolute;
    top: 32px;
    left: 22px;
}
.login_btn_box{
    height: 48px;
    position: relative;
    padding-top: 5px;
}
.login_btn_box .btn_login{
    width: 235px;
    height: 30px;
    border-radius: 20px;
    background-color: rgba(250, 99, 135, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    text-align: center;
    font-family: Microsoft Yahei;
    border: 1px solid rgba(255, 255, 255, 0);
    cursor: pointer;
}
.login_btn_box .btn_login:hover{
    background-color: rgb(250, 11, 113);
}
.to_login{
    width: 235px;
    padding: 10px 0;
}
.to_login a{
    color: rgba(250, 99, 135, 1);
    font-size: 12px;
    font-family: Roboto;
    text-align: right;
    width: 65%;
    float: left;
}
.to_login a:hover{
    color: rgb(250, 11, 113);
}
.to_login .to_forget{
    width: 35%;
    text-align: left;
}
.to_login .has_account{
    text-align: center;
}

.loading{
    margin-left: -40px;
}